<nav id="nav" class="active-{{ active-class }}">
    <a href="{{ book-link }}" class="{{ book-class }}">
        <div class="book" id="book">
            <div class="inner">
                <div class="text-content">
                    <h1 class="book-title">
                        The World After Capital
                    </h1>
                    <h2 class="author">Albert Wenger</h2>
                </div>
            </div>
        </div>
    </a>
    <h3 class="site-title">
        <a href="{{ book-link }}" class="{{ book-class }}">The World After Capital</a>
    </h3>
    <ul>
        <li>
            <a class="author-link" href="/author">Author</a>
        </li>
        <li>
            <a class="talks-link" href="/talks">Talks</a>
        </li>
        <li>
            <a class="faq-link" href="/faq">FAQ</a>
        </li>
        <li>
            <a class="read-link" href="{{ meta.gitbook_url }}">Read</a>
        </li>
    </ul>
    <div id="ham" class="hamburger">
        <div class="bar bar-1"></div>
        <div class="bar bar-2"></div>
        <div class="bar bar-3"></div>
    </div>
</nav>
